body{
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    font-family:"STFangsong","SimSun";
    box-sizing: border-box;

}
/*header*/
/*nav*/
.logo1{
   width: 10%;
   height: 10%;
   margin-top: 15px;
   margin-left: 5%;
}
.logo1 img{
   width: 100%;
}

.navbar {
  width: 100%;
  margin-top: 10px;
  font-size: 18px;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 20;
  overflow: hidden;
  background-color: #e5cecf;
}
.navbar li {
  display: inline;
  float: left;
}
.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 25px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #aea9b3;
}
/*content*/
.content{
  width: 100%;
}
.info{
  font-size: 18px;
  line-height: 40px;
  margin-left: 10%;
}


