body{
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    font-family:"STFangsong","SimSun";
    box-sizing: border-box;

}
a{
  color: #425669;
  text-decoration: none;
}
/*header*/
.header{
   box-shadow: 0px 10px 7px#ddd;
   height: 120px;
   z-index: 999;
   display: inline-block;
   width: 100%;

}
.nav {
    width: 20%;
    height: 20%;
    margin-left: 4%;
}
.nav button {
    background-color: white;
    border: none;
    margin-top: 14%;
}
.nav hr {
    margin-top: 2.5px;
    width: 25px;
    border-top: 2px solid #5a5a5a;
    background-color: #5a5a5a;
}

.logo1{
   width: 10%;
   height: 10%;
   margin-left: 10%;
}
.logo1 img{
   width: 100%;
}
.searchbox{
    width: 300px;
   height: 20%;
   margin-top: 1%;
   margin-left: 43%;
   outline: none;
}
.searchbox input{
  width: 200px;
   height: 34px;
   outline: none;

}
.searchpic{
   width: 3%;
   margin-left: 59%;
   margin-top: -2.1%;
}
.searchpic img{
   width: 100%;
}
.rightbox{
  float: right;
  display: inline-flex;
  margin-top: -34px;
  margin-left: 78%;


}
.choose{
  float: right;
  font-size: 40px;
  color: #425669;
  margin-right:8%;
}

.chart{
   width: 20%;
   margin-right: 5%;
   margin-top: -3.5%;
}
.chart img{
   width: 100%;
}

.dropdown {
  position: relative;
  width: 18%;
  margin-top: -1.5%;
  cursor: pointer;
}
.dropdown img{
  width: 100%;
}
.dropbtn {
  color: black;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  background-color: white;
  display: none;
  position: absolute;
  margin-left: 10px;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #a1a9b3}
.dropdown:hover .dropdown-content {
  display: block;
}
/*content*/
.content{
  width: 100%;
  height: 550px;
}
.line1{
  display: inline-flex;
  margin-top: 100px;
}
.shop{
  display: inline-block;
  margin-top: 70px;
  margin-left: 170px;
  margin-bottom: 0px;
}
.bk{
  background-color: #Ffe7e3;
  margin-bottom: 20px;
  width: 261px;
  height: 178px;
}
.time{
  line-height: 30px;
  margin-left: 40px;
}
.bk img{
  margin-top:35px;
  width: 100%;
}
.bk2 img{
  width: 90%;
  margin-top: 40px;
  margin-left: 15px; 
}
.bk3 img{
  width: 90%;
  margin-top: 40px;
  margin-left: 10px;
}
.ck{
  background-color: #e5cecf;
}
.line2,.line3{
  display: inline-flex;
}
.line2{
  margin-top: -30px;
}
.dk{
  background-color: #d9ccd3;

}
.ck1 img{
  margin-top: 40px;
  margin-left: 0px;
}
.dk img{
  margin-top: 50px;
}


/*footer*/
.footer{
  margin-top: 60px;
  background-color: #a1a9b3;
  height: 110px;
  text-decoration-style: none;
  margin-bottom: -8px;

}
.footer a{
   text-decoration: none;
   color: white;
}

.a{
  color: white;
  font-size: 24px;
  display: inline-block;
  margin-top: 45px;
}
.qa{
    margin-left: 530px;
}
.contact{
    margin-left: 150px;
}
