/*四海遊龍*/
body{
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    font-family:"SimSun";
    box-sizing: border-box;

}
a{
  text-decoration: none;
  color: black;
}

/*header*/
.header{
  background-color: white;
  width: 100%;
}
.navbar{
  width: 100%;
  margin-top: 0px;
  font-size: 18px;
}
.navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 20;
  overflow: hidden;
  background-color: #e5cecf;
}
.navbar li{
  display: inline;
  float: left;
}
.navbar li a{
  display: block;
  color: white;
  text-align: center;
  padding: 16px 25px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #aea9b3;
  color: white;
}
.active {
  background-color: #cacbc9;
}
/*content*/
h1{
  margin-top: 30px;
}
.content{
  margin-top: 40px;
  margin-left: 100px;
  line-height: 35px;

}
.meal{
  margin-top: -40px;
}
.img1{
  position: absolute;
  margin-left: 15px;
  margin-top: -12px;
  width: 25px;
  height: 15px;
}
.img img{
  width: 100%;
}
.pic{
  margin-top: 15px;
  margin-left: 25px;
  width: 200px;
  height: 100px;
}
.pic img{
  margin-right: 10px;
  width: 100%;
}
.content{
  margin-top: 10px;
}
table{
  border-collapse: collapse;

}
h2{
  text-align: center;
  width: 160px;
  background-color: #a1a9b3;
  color: #ffffff;
  font-weight: 1;
  letter-spacing: 4px;
}
.back-to-top {
    display:none;
    position: fixed;
    bottom: 1.5em;
    right: 10px;
    border-radius: 50%;
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    padding: 30px;

}

.back-to-top:hover {    
    text-decoration:none;
    color:#ffffff;
}
.fas{
      font-size: 60px;
      color: #8ea5b6;
    }
.fas:hover{
  color: #e8d9c4;
}
