/*購物頁面*/
body{
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    font-family:"STFangsong","SimSun";
    box-sizing: border-box;

}
a{
  color: #425669;
  text-decoration: none;
}
/*header*/
.header{
   height: 120px;
   z-index: 999;
   display: inline-block;
   width: 100%;

}
.nav {
    width: 20%;
    height: 20%;
    margin-left: 4%;
}
.nav button {
    background-color: white;
    border: none;
    margin-top: 14%;
}
.nav hr {
    margin-top: 2.5px;
    width: 25px;
    border-top: 2px solid #5a5a5a;
    background-color: #5a5a5a;
}

.logo1{
   width: 10%;
   height: 10%;
   margin-left: 10%;
}
.logo1 img{
   width: 100%;
}
.searchbox{
    width: 300px;
   height: 20%;
   margin-top: 1%;
   margin-left: 43%;
   outline: none;
}
.searchbox input{
  width: 200px;
   height: 34px;
   outline: none;

}
.searchpic{
   width: 3%;
   margin-left: 59%;
   margin-top: -2.1%;
}
.searchpic img{
   width: 100%;
}
.rightbox{
  float: right;
  display: inline-flex;
  margin-top: -34px;
  margin-left: 78%;


}
.choose{
  float: right;
  font-size: 40px;
  color: #425669;
  margin-right:8%;
}

.chart{
   width: 20%;
   margin-right: 5%;
   margin-top: -3.5%;
}
.chart img{
   width: 100%;
}

.dropdown {
  position: relative;
  width: 18%;
  margin-top: -1.5%;
  cursor: pointer;
}
.dropdown img{
  width: 100%;
}
.dropbtn {
  color: black;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  background-color: white;
  display: none;
  position: absolute;
  margin-left: 10px;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #a1a9b3}
.dropdown:hover .dropdown-content {
  display: block;
}



/*nav*/
.navbar{
  width: 100%;
  margin-top: 50px;
  font-size: 18px;
}
.navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 20;
  overflow: hidden;
  background-color:#e5cecf ;
}
.navbar li{
  display: inline;
  float: left;
}
.navbar li a{
   display: block;
  color: white;
  text-align: center;
  padding: 16px 25px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color:#aea9b3;
}


/*content*/
.content h1{
  margin-top: 60px;
}

.table table{
  text-align: center;
  height: 100px;
  margin-top: 0px;
  border-collapse: collapse;
}
.form-control{
  width: 40px;
}
.checkbt{
  position: absolute;
  margin-left: 890px;
  margin-top:200px;
  padding-bottom: 20px;
}
.content{
  position: relative;
  margin-left: 60px;
}
.total{
  position: absolute;
  margin-top: 65px;
  margin-left: 900px;
  font-size: 36px;
}
.fas{
  position: absolute;
  color: #b6c4c8;
  margin-top: 70px;
  font-size: 34px;
  margin-left: 840px;
}
.checkbt input:active{
  background-color: #ddd;
  box-shadow: 0 2px #ddd;
  transform: translateY(0px);
}
.checkbt input {
  display: inline-block;
  padding: 12px 22px;
  font-size: 18px;
  margin-top: -20px;
  margin-right: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #b6c4c8;
  border: none;
  border-radius: 15px;
  box-shadow: 0 7px #a1a9b3;
}

.checkbt input:hover {background-color: #e5cecf

}
.dd{
  position: absolute;
  margin-left:760px; 
  margin-top: -145px;
  width: 500px;
  height: 70px;
}
.dd img{
  width: 100%;
}
.line{
  margin-left:290px;
}
